<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">

    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>logReader.rest.Init</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>All</servlet-name>
        <servlet-class>logReader.rest.All</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select</servlet-name>
        <servlet-class>logReader.rest.Select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Configure</servlet-name>
        <servlet-class>logReader.rest.Configure</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Select</servlet-name>
        <url-pattern>/rest/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>All</servlet-name>
        <url-pattern>/rest/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Configure</servlet-name>
        <url-pattern>/rest/conf</url-pattern>
    </servlet-mapping>

</web-app>
